.navbar-brand {
  color: white;
  font-size: 50px;
}

aside {
  background-color: grey;
  min-height: 50%;
}

.float_left {
  float: left;
}

.btnsize {
  height: 60px;
}

img {
  height: 50px;
  width: 50px;
}
